@model List<Group_Quiz.Models.Question>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<h1>@ViewData["Title"]</h1>


<div class="container question-list">
    <div class="d-flex justify-content-between align-items-center mb-4">

        <a href="@Url.Action("Create")" class="btn btn-success">Add Question</a>
    </div>
    <div class="question-item">
        <ul class="list-group col-12">
        @foreach (var question in Model)
        {
            <div class="col-12 my-2">
            <li class="list-group-item d-flex justify-content-between align-items-center">
             
            <span>@question.QuestionText</span>
            <div class="question-actions">
                <div>
                    <a href="@Url.Action("Edit", new{ id = question.QuestionId})" class="btn btn-primary btn-sm mr-2">Edit</a>

                            <form asp-action="Delete" asp-route-id="@question.QuestionId" method="post">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this question?')">Delete</button>
                            </form>
                </div>
                
            </div>
        </li>
        </div>
        }
        </ul>
    </div>
</div>
