@model List<Group_Quiz.Models.Question>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<div class="text-center">
<h1>@ViewData["Title"]</h1>
</div>

<div class="container question-list">
    <div class="d-flex justify-content-between align-items-center mb-4">

        <a href="@Url.Action("Create")" class="btn btn-success">Add Question</a>
    </div>
    <div class="question-item">
        <ul class="list-group col-12">
            @foreach (var question in Model)
            {
                <div class="col-12 my-2 item">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>@question.QuestionText</span>
                    <div class="question-actions">
                            <a href="@Url.Action("Edit", new { id = question.QuestionId })" class="btn btn-primary btn-sm mr-2">Edit</a>

                            <form id="deleteForm-@question.QuestionId" action="@Url.Action("Delete", "Home", new { id = question.QuestionId })" method="post">
                                <button type="button" class="btn btn-danger btn-sm mx-2 delete-button" data-question-id="@question.QuestionId">Delete</button>
                            </form>
                       
                    </div>
                </li>
        </div>
            }
        </ul>
    </div>
</div>
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-button');

            deleteButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const questionId = this.getAttribute('data-question-id');
                    if (confirm('Are you sure you want to delete this question?')) {
                        const form = document.getElementById(`deleteForm-${questionId}`);
                        form.submit();
                    }
                });
            });
        });
    </script>
}
