
@model Group_Quiz.Models.Question
@{
    ViewData["Title"] = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<div class="container vh-100 d-flex justify-content-center align-items-center">
    @if (Model != null && ViewData["Questions"] != null)
    {
        var questions = ViewData["Questions"] as List<Group_Quiz.Models.Question>;
        var currentIndex = (int)ViewData["CurrentQuestionIndex"];
        var question = Model;

        <div class="question-card">
            <div class="text-center mb-4">
                <p>Question: @(currentIndex +1) of @questions.Count</p>
            </div>
            <div class="mb-4">
                <h3 class="text-center">@question.QuestionText</h3>
            </div>
            <div class="list-group">
                @foreach (var answer in question.Answers)
                {
                    <div class="list-group-item option border p-3 my-2">@answer.Text</div>
                }
            </div>
            <div class="d-flex justify-content-between align-items-center mt-4">
                @if (currentIndex > 0)
                {
                    <a href="@Url.Action("Quiz", new { id = questions[currentIndex - 1].QuestionId, currentIndex = currentIndex - 1 })" class="btn btn-primary">Previous</a>
                }
                @if (currentIndex < questions.Count - 1)
                {
                    <a href="@Url.Action("Quiz", new { id = questions[currentIndex + 1].QuestionId, currentIndex = currentIndex + 1 })" class="btn btn-primary">Next</a>
                }
                else
                {
                    <a href="@Url.Action("Result")" class="btn btn-primary">Submit Quiz</a>
                }
            </div>
        </div>
    }
    else
    {
        <p>Error: No questions found.</p>
    }
</div>
   
@section Scripts{
    <script>
        
//Event listener
    </script>
}